In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
"""
A database is a structured collection of data that is stored in a computer or server. It allows users to store and retrieve data in a way that is organized and efficient. Databases can be broadly categorized into two types: SQL and NoSQL databases.

SQL databases are relational databases that store data in tables with predefined schemas. These databases are designed to handle structured data and are suitable for applications that require complex queries and transactions. Examples of SQL databases include MySQL, Oracle, and PostgreSQL.

NoSQL databases, on the other hand, are non-relational databases that store data in a non-tabular form, such as key-value pairs, documents, or graphs. These databases are designed to handle unstructured data and are suitable for applications that require scalability and flexibility. Examples of NoSQL databases include MongoDB, Cassandra, and DynamoDB.

In summary, SQL databases are best suited for applications that require complex querying and transactions, while NoSQL databases are best suited for applications that require scalability and flexibility with unstructured data.
"""

In [ ]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
"""
DDL stands for Data Definition Language, and it is used to define and manage the structure of a database. Some common DDL statements include CREATE, DROP, ALTER, and TRUNCATE.

CREATE is used to create a new table or database in the database management system. For example, the following SQL statement creates a new table named "customers":

CREATE TABLE customers (
  customer_id INT PRIMARY KEY,
  first_name VARCHAR(50),
  last_name VARCHAR(50),
  email VARCHAR(100)
);

DROP is used to delete a table or database from the database management system. For example, the following SQL statement deletes the "customers" table:

DROP TABLE customers;

ALTER is used to modify the structure of an existing table. For example, the following SQL statement adds a new column named "phone" to the "customers" table:

ALTER TABLE customers
ADD COLUMN phone VARCHAR(20);

TRUNCATE is used to delete all the data in a table while keeping the table structure intact. For example, the following SQL statement removes all the data from the "customers" table:

TRUNCATE TABLE customers;
"""

In [ ]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
"""
DML stands for Data Manipulation Language, and it is used to manage the data stored in a database. Some common DML statements include INSERT, UPDATE, and DELETE.

INSERT is used to add new data to a table. For example, the following SQL statement adds a new row of data to the "customers" table:

INSERT INTO customers (customer_id, first_name, last_name, email)
VALUES (1, 'John', 'Doe', 'john.doe@example.com');

UPDATE is used to modify existing data in a table. For example, the following SQL statement updates the email address for the customer with ID 1:

UPDATE customers
SET email = 'john.doe@newemail.com'
WHERE customer_id = 1;

DELETE is used to remove data from a table. For example, the following SQL statement removes the row of data for the customer with ID 1:

DELETE FROM customers
WHERE customer_id = 1;
"""

In [ ]:
# Q4. What is DQL? Explain SELECT with an example.

In [ ]:
"""
DQL stands for Data Query Language, and it is used to retrieve data from a database. The most common DQL statement is SELECT.

SELECT is used to retrieve data from one or more tables.
For example, the following SQL statement retrieves all the data from the "customers" table:

SELECT * FROM customers;

The * symbol is used to select all the columns from the table. You can also specify individual columns to retrieve:

SELECT first_name, last_name, email FROM customers;

You can also use various clauses with SELECT to filter and sort the data, such as WHERE, ORDER BY, and LIMIT.
"""

In [ ]:
#Q5. Explain Primary Key and Foreign Key.

In [ ]:
"""
A primary key is a unique identifier for a row of data in a table. It is used to ensure that each row in the table is uniquely identifiable and to enforce referential integrity in the database. A primary key column cannot contain null values.

For example, in the "customers" table, the customer_id column could be used as the primary key:

CREATE TABLE customers (
customer_id INT PRIMARY KEY,
first_name VARCHAR(50),
last_name VARCHAR(50),
email VARCHAR(100)
);

A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It is used to establish a relationship between two tables in the database. A foreign key column can contain null values.

For example, in a "orders" table, the customer_id column could be a foreign key that refers to the customer_id column in the "customers" table:

CREATE TABLE orders (
order_id INT PRIMARY KEY,
order_date DATE,
customer_id INT,
FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);
"""

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="username",
password="password",
database="databasename"
)
'''
The cursor() method is used to create a cursor object that allows you to execute SQL statements on the database. You can use the cursor() method on the database connection object to create a cursor:

mycursor = mydb.cursor()

The execute() method is used to execute SQL statements on the database. You can pass the SQL statement as a parameter to the execute() method:

mycursor.execute("SELECT * FROM customers")

You can then use various methods of the cursor object to retrieve the data, such as fetchone(), fetchall(), and fetchmany().
"""

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.


The order of execution of SQL clauses in an SQL query is as follows:

FROM
JOIN
WHERE
GROUP BY
HAVING
SELECT
DISTINCT
ORDER BY
LIMIT