Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Create a Pandas Series
my_series = pd.Series([4, 8, 15, 16, 23, 42])

# Print the series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

# Create a list with 10 elements
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Convert the list to a Pandas Series
my_series = pd.Series(my_list)

# Print the series
print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data. Then, print the DataFrame.

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. It is similar to a spreadsheet or SQL table, where data is arranged in rows and columns. Each column in a DataFrame can be considered as a Pandas Series.

In contrast to a Pandas Series, which is a one-dimensional labeled array that can hold only one data type, a DataFrame can hold multiple data types and supports row and column indexing.

Here is an example to illustrate the difference between a Pandas Series and a DataFrame:m

In [4]:
import pandas as pd

# create a Pandas Series
series = pd.Series([1, 2, 3, 4])
print(series)


# create a DataFrame
data = {'Name': ['John', 'Jane', 'Jim', 'Joan'],
        'Age': [25, 30, 35, 40],
        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer']}
df = pd.DataFrame(data)
print(df)

0    1
1    2
2    3
3    4
dtype: int64
   Name  Age Occupation
0  John   25   Engineer
1  Jane   30     Doctor
2   Jim   35    Teacher
3  Joan   40     Lawyer

In this example, the first code block creates a Pandas Series using the pd.Series() constructor. The resulting output is a one-dimensional array with an index and values of type integer.

The second code block creates a DataFrame using a dictionary object, where each key represents a column name and the values in the list represent the column values. The resulting output is a two-dimensional table-like structure with labeled rows and columns. The column names are 'Name', 'Age', and 'Occupation', and the values are of mixed data types. Each column of the DataFrame is a Pandas Series

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Canyou give an example of when you might use one of these functions?

There are many common functions that can be used to manipulate data in a Pandas DataFrame. Here are some of the most commonly used functions:

head() and tail(): These functions are used to view the first or last few rows of a DataFrame, respectively. They are useful for quickly checking the contents of a DataFrame, especially if it has many rows.

In [7]:
import pandas as pd

# create a DataFrame
data = {'Name': ['John', 'Jane', 'Jim', 'Joan'],
        'Age': [25, 30, 35, 40],
        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer']}
df = pd.DataFrame(data)

# view the first few rows of the DataFrame
print(df.head(2))

# view the last few rows of the DataFrame
print(df.tail(1))

   Name  Age Occupation
0  John   25   Engineer
1  Jane   30     Doctor
   Name  Age Occupation
3  Joan   40     Lawyer

describe(): This function is used to generate a statistical summary of a DataFrame, including the count, mean, standard deviation, minimum, maximum, and quartiles of each column. It is useful for gaining a quick understanding of the data in a DataFrame.

In [9]:
import pandas as pd

# create a DataFrame
data = {'Name': ['John', 'Jane', 'Jim', 'Joan'],
        'Age': [25, 30, 35, 40],
        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer']}
df = pd.DataFrame(data)

# generate a statistical summary of the DataFrame
print(df.describe())

             Age
count   4.000000
mean   32.500000
std     6.454972
min    25.000000
25%    28.750000
50%    32.500000
75%    36.250000
max    40.000000

sort_values(): This function is used to sort the rows of a DataFrame by one or more columns. It is useful for ordering the data in a meaningful way, such as sorting by age or salary.

In [10]:
import pandas as pd

# create a DataFrame
data = {'Name': ['John', 'Jane', 'Jim', 'Joan'],
        'Age': [25, 30, 35, 40],
        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer']}
df = pd.DataFrame(data)

# sort the DataFrame by age in ascending order
df_sorted = df.sort_values(by=['Age'])
print(df_sorted)

   Name  Age Occupation
0  John   25   Engineer
1  Jane   30     Doctor
2   Jim   35    Teacher
3  Joan   40     Lawyer

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, DATA MUTABILITY refers to the ability to change the values within a data structure, while SIZE MUTABILITY refers to the ability to change the size or shape of the data structure itself.

All three, that is Series, DataFrame and Panel are DATA MUTABLE, meaning that you can change the values within them, but only DataFrame and Panel are SIZE MUTABLE, meaning that you can change their shape or size.

Q7. Create a DataFrame using multiple Series. Explain with an example.

We can create a Pandas DataFrame by using multiple Pandas Series, where each Series represents a column of the DataFrame. Here's an example:

In [12]:
import pandas as pd

# create a series for the 'Name' column
names = pd.Series(['John', 'Jane', 'Jim', 'Joan', 'Mark', 'Mary'])

# create a series for the 'Age' column
ages = pd.Series([25, 30, 35, 40, 25, 30])

# create a series for the 'Department' column
departments = pd.Series(['Engineering', 'Engineering', 'Teaching', 'Law', 'Marketing', 'Marketing'])

# create a series for the 'Salary' column
salaries = pd.Series([50000, 60000, 70000, 80000, 55000, 65000])

# create the DataFrame by combining the series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Department': departments, 'Salary': salaries})

# print the DataFrame
print(df)

   Name  Age   Department  Salary
0  John   25  Engineering   50000
1  Jane   30  Engineering   60000
2   Jim   35     Teaching   70000
3  Joan   40          Law   80000
4  Mark   25    Marketing   55000
5  Mary   30    Marketing   65000

In this example, we created four separate Pandas Series for the 'Name', 'Age', 'Department', and 'Salary' columns of the DataFrame. We then combined these series into a single DataFrame using the pd.DataFrame() function and passing in a dictionary where the keys are the column names and the values are the corresponding series. Finally, we printed the resulting DataFrame using the print() function.