In [2]:
#Q.1
marks = int(input("enter your marks"))
if marks >90:
    print ("Your Grade is A")
elif marks >80 and marks <=90 :
    print("Your Grade is B")
elif marks >=60 and marks <=80 :
    print("Your Grade is C")
else :
    print("Your Grade is D")

enter your marks 45

Your Grade is D

In [8]:
#Q.2
price = int(input("Enter the price of bike "))
if price >100000 :
    print ("Your road tax is 15%")
elif price >50000 and price <100000 :
    print("Your road tax is 10%")
else :
    print("Your road tax is 5%")

Enter the price of bike  150000

Your road tax is 15%

In [6]:
#Q.3
city = input("Enter your city")
if city == "Delhi" :
    print("Monument of your city is Red Fort")
if city == "Agra" :
    print("Monument of your city is Taj Mahal")
if city == "Jaipur":
    print("Monument of your city is Jal Mahal")

Enter your city Delhi

Monument of your city is Red Fort

Q 4. Check how many times a given number can be divided by 3 before it is less than of equal to 10.

In [14]:
n = int(input("Enter a number : "))
count = 0
while n > 10:
    count +=1
    n -=3
    if n<=10:
        break
print(count)

Enter a number :  100

30

Q 5. Why and when to use while loop in python give a detailed description with example

A while loop evaluates when condition is True
If the condition evaluates to True, the code inside the while loop is executed.
condition is evaluated again.
This process continues until the condition is False.
When condition evaluates to False, the loop stops.

In [16]:
# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

Q 6. Use nested while loop to print 3 different pattern.

In [17]:
row = int(input("Enter row number : "))
num = 0
while num <= row:
    print("* "*num)
    num +=1

Enter row number :  5

*
* *
* * *
* * * *
* * * * *

In [18]:
row = int(input("Enter row number : "))
while row>0:
    print()
    column = 0
    while column < row:
        print("*", end=' ')
        column +=1
    row -=1

Enter row number :  6

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [19]:
row = int(input("Enter row number : "))
num = 0
while num <= row:
    print("* "*num)
    num +=1
    if num > row:
        row = row-1
        num = -row +2
        while num <= row:
            print("* "*row)
            num +=1
            row -=1

Enter row number :  7

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

Q 7. Reverse a while loop to display numbers form 10 to 1.

In [21]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1